@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1587200431249'); /* IE9 */
  src: url('iconfont.eot?t=1587200431249#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABnAAAAJhAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gQMBNgIkAwgLBgAEIAWEbQc1G64FyJ6aPClSiY0hCn1YIQBmhgii/X6z9+4LpklEk0kWTVRIpEKC0EnBSiSLlfD+b639E014HiSeeUJE48qfvRWbHayZVS/pIpVHhWtI8k7y7NXn7BeAAZfTHwUUyDyQctuTxpo8JmBgaaBjDYqsSCJvGLvgBR4n0GhAgu9wdHoZojJ7XCDuVEWAaMEnyyxZF6oNS7N4VFFP9+kFeIi+H/9yESWpFOyyk9sRGfq/1p20Yq/ccx0Q/AS0uoICc0AmLhpjRwKCsQIaBYNGgCwHv2plia3iqCbB/jq7sBn0QfEzSTzpoxYmkJPefmBp0pWk5o5eP5bfPlc+vtfevzbkq4uu1Zv928vOFcXPvN4jgZmnbCvfHAmShuVz8rmVlpX7e5j53IYXF3198Q+16wcoFc1iBnwIbp6KD7dtHm3K4P3xr0E8pQzDHKC+V3vwdyQDW7Ihsy0pa5JGR9I/aWxCo0aUYVenr6n6nltJhbqeG1LWDEmGQt0YmZlzqGiyhqq6HTSaNba6SRcmIHIDZhwDhHYNJK2eUWjXJDPzExW9/lHVHgE0uoquLZtMhBo/YChwlIm4S1TJtqhr4/G4eBGVTUNgeVnEXkXmqUGSTWXKyTG0kC0xw9tScpxTQpltklFwGhqGTRxmayjxVJ1zp5ZO06Y3pSTbhLgDDBJwSEaIdhEqic1Cg+5cvPL5RUixySBgHRV14VWI8aj9E1kpmQHkmNoaVPEor3i2KHI4jiIoxmYiRsEgZDDYCKd5kAZJuJT6hIijJu10okPVqe215g8UsRpsQwpnbqHpoI6SPqoaBsoA') format('woff2'),
  url('iconfont.woff?t=1587200431249') format('woff'),
  url('iconfont.ttf?t=1587200431249') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1587200431249#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CheckFilled:before {
  content: "\e63a";
}

